.title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 76px;
  text-align: center;
  margin-bottom: 34px;
}

h3 {
  font-size: 36px;
  font-family: 'Arsenal', sans-serif;
  font-weight: normal;
  position: relative;
  width: auto;
  display: inline-block;
}

h3::before {
  content: '';
  border-bottom: 2px solid #ba9f5a;
  position: absolute;
  width: 50px;
  left: -65px;
  top: 50%;
}

h3::after {
  content: '';
  border-bottom: 2px solid #ba9f5a;
  position: absolute;
  width: 50px;
  right: -65px;
  top: 50%;
}
